.form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-areas: 
        "title title"
        "text text"
        "add-reset display"
    ;
    grid-gap: 0.4rem;
    padding: 1rem 2rem 2rem 2rem;
}

.post-title { grid-area: title}

.post-text { grid-area: text }

.post-display { grid-area: display }

.add-reset-buttons { grid-area: add-reset }